html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@font-face{
    font-family: Raleway;
    src: url(Fonts/Hibur_Mono\,Montenegrin_Gothic_One\,Playwrite_ID.zip) format(ttf);
}
body{ 
    display: flex;
    justify-content: center;
}
.imageLabel{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formContainer{
    background-color: cadetblue;
    flex: 1 1 40%;
}
img{

}
/* .imageLabel:nth-child(1){
    background-color: #f8f8f8;
    width: 100%;
    height: auto;
    flex: 1;
} */